#waveform ::part(region) {
  background-color: rgba(0, 0, 100, 0.888) !important;
}

#waveform {
  background-color: burlywood;
  border-radius: 1rem;
  border: 2px solid black;
  padding: 5px;
}

.mark {
  position: absolute;

  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
  transform: translate(-50%, 0%);
}
